bibtexparser==1.0.1
biopython==1.72
certifi==2018.8.24
chardet==3.0.4
docopt==0.6.2
future==0.16.0
idna==2.7
Jinja2==2.10
MarkupSafe==1.0
mysql-connector==2.1.6
numpy==1.15.2
pyparsing==2.2.2
PyYAML==3.13
requests==2.19.1
urllib3==1.23
